body {
    margin: 0;
}
.profile {
    display: inline-flex;
    flex-direction: column;
    height: 730px;
    align-items: center;
    gap: 30px;
    padding: 0px 0px 60px;
    position: relative;
    background-color: var(--collection-1-container1-color);
}

.profile .cover {
    position: relative;
    width: 315px;
    height: 425px;
}

.profile .name-position {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    position: relative;
    flex: 0 0 auto;
}

.profile .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Josefin Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-txt-color);
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.profile .div {
    position: relative;
    width: fit-content;
    font-family: "Josefin Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-txt-color);
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.profile .socials {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    position: relative;
    flex: 0 0 auto;
}

.profile .img {
    position: relative;
    width: 24px;
    height: 24px;
}

.profile .hireme-downloadcv {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -6px;
}

.profile .button {
    display: flex;
    width: 260px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 18px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--collection-1-container2-color);
    border-radius: 41px;
    all: unset;
    box-sizing: border-box;
}

.profile .BUTTON {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Josefin Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-txt-color);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    all: unset;
    box-sizing: border-box;
}
